@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: hsl(243, 87%, 12%);
  margin: 0;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
}
.input {
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  border: 1px solid hsl(243, 87%, 12%);
  padding: 15px 20px;
}
.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #ffffff;
  background: hsl(224, 93%, 58%);
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
}
.screen-reader {
  position: absolute;
  left: -100vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 100px 100px;
}
.header__logo {
  align-self: center;
}
.header__menu {
  list-style: none;
  display: flex;
  padding: 0;
}
.header__menu__item {
  margin-right: 100px;
}
.header__menu__link {
  font-family: 'Raleway', sans-serif;
  color: hsl(243, 87%, 12%);
  text-decoration: none;
}
/* Main content Sections */
.section {
  display: flex;
  padding: 0 100px;
}
.section__text-block {
  flex: 1.1 1 0;
  margin-right: 30px;
}
.section__illustration-img-block {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__illustration-img {
  width: 100%;
}
/* First section */
.first-section {
  margin-bottom: 150px;
}
.first-section__form {
  display: flex;
}
.first-section__form__email-input {
  width: 40%;
  margin-right: 20px;
}
.first-section__form__button {
  width: 30%;
}
/* Second section */
.curve {
  height: 114px;
  background: url(../images/bg-curve-desktop.svg);
}
.second-section {
  background: hsl(240, 75%, 98%);
  font-size: 16px;
}
.second-section__paragraph {
  margin-right: 75px;
}
.second-section__link {
  color: hsl(170, 45%, 43%);
  text-decoration: none;
  /* text-underline-offset not yet well suported to get the uinderline offset correct: so using border */
  border-bottom: 1px solid hsl(170, 45%, 43%);
  padding-bottom: 5px;
}
.second-section__link__icon {
  vertical-align: middle;
}
.second-section__testimonial {
  background: #ffffff;
  margin: 50px 0 100px 0;
  font-size: 14px;
  line-height: 1.5;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0px 2px 10px hsl(0, 0%, 75%);
  padding: 20px 30px;
  letter-spacing: 0.03em;
}
.second-section__blockquote {
  margin: 0;
}
.second-section__testimonial__author {
  display: flex;
  flex-direction: row;
}
.second-section__testimonial__avatar {
  border-radius: 50%;
  width: 10%;
  margin-right: 10px;
}
.second-section__testimonial__name-block {
  display: flex;
  flex-direction: column;
}
.second-section__testimonial__author-name {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}
.second-section__testimonial__author-job {
  font-size: 11px;
  letter-spacing: normal;
}
/* Third section */
.third-section {
  background: hsl(238, 22%, 44%);
  color: #ffffff;
  font-size: 16px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.third-section__title {
  margin-top: 0;
  font-size: 30px;
}
.third-section__paragraph {
  margin-right: 125px;
}
.third-section__form {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}
.third-section__form__email-input {
  border: 1px solid #ffffff;
  margin-bottom: 20px;
}
.third-section__form__button {
  width: 50%;
  box-shadow: 0px 2px 5px hsl(0, 0%, 32%);
}
/* Footer Section */
.footer {
  background: hsl(243, 87%, 12%);
  color: #ffffff;
  padding: 150px 100px 10px 100px;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  align-self: start;
  margin-bottom: 50px;
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.footer__content__general-info {
  padding-left: 30px;
}
.footer__content__general-info__item {
  margin-bottom: 25px;
  padding-left: 10px;
}
.footer__content__general-info__phone {
  list-style-image: url(../images/icon-phone.svg);
}
.footer__content__general-info__email {
  list-style-image: url(../images/icon-email.svg);
}
.footer__content__menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.footer__content__menu-item {
  margin-bottom: 25px;
}
.footer__content__menu-link {
  color: #ffffff;
  text-decoration: none;
}
.footer__content__social-links {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__content__social-link {
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Attribution Section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #ffffff;
}
/* Media queries */
@media all and (max-width: 980px) {
  body {
    font-size: 16px;
  }
  /* Header Section */
  .header {
    margin: 50px 0 100px 50px;
  }
  .header__menu__item {
    margin-right: 50px;
  }
  /* Section */
  .section__illustration-img-block {
    align-items: flex-start;
  }
  /* First section */
  .title {
    font-size: 26px;
  }
  .first-section__form__button {
    width: 40%;
  }
  /* Second section */
  .second-section__testimonial {
    width: 100%;
  }
  /* Third Section */
  .third-section__paragraph {
    margin-right: 0px;
  }
  .third-section__form__button {
    width: 70%;
  }
  /* Footer Section */
  .footer {
    padding: 75px 30px 20px 30px;
    text-align: left;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
  .footer__content__menu {
    flex-direction: column;
    padding: 0;
    row-gap: 30px;
  }
}
@media all and (max-width: 740px) {
  body {
    text-align: center;
  }
  /* Header Section */
  .header {
    margin: 50px 0 100px 20px;
  }
  .header__logo {
    width: 25%;
  }
  .header__menu__item {
    margin-right: 20px;
  }
  /* Main content Sections */
  .section {
    flex-direction: column-reverse;
    padding: 0 15px;
  }
  .section__illustration-img-block {
    margin-bottom: 50px;
  }
  .section__illustration-img {
    width: 90%;
  }
  /* First section */
  .first-section {
    margin-bottom: 100px;
  }
  .first-section__form {
    flex-direction: column;
  }
  .first-section__form__email-input {
    width: 90%;
    box-sizing: border-box;
    align-self: center;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .first-section__form__button {
    width: 90%;
    align-self: center;
  }
  /* Second section */
  .curve {
    height: 53px;
    background: url(../images/bg-curve-mobile.svg);
  }
  .second-section {
    padding-top: 50px;
  }
  .second-section__title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .second-section__paragraph {
    margin-right: 0px;
    text-align: left;
  }
  .second-section__paragraph:nth-child(2n + 1) {
    margin-bottom: 30px;
  }
  .second-section__link {
    font-size: 14px;
  }
  .second-section__testimonial {
    text-align: left;
    box-sizing: border-box;
    font-size: 12px;
  }
  .second-section__testimonial__author-job {
    font-size: 10px;
  }
  /* Third section */
  .third-section {
    flex-direction: column;
    padding: 75px 25px;
  }
  .third-section__title {
    font-size: 20px;
  }
  .third-section__paragraph {
    margin-bottom: 30px;
  }
  .third-section__form {
    align-items: center;
  }
  .third-section__form__email-input {
    width: 80%;
    margin-bottom: 10px;
  }
  .third-section__form__button {
    width: 80%;
    box-sizing: content-box;
  }
  /* Footer */
  .footer__logo {
    margin-bottom: 25px;
    width: 50%;
  }
}
